<!--
Log-in page

Options:
  failMsg: if this object exists, displays it as a failure message telling the user that login failed.
-->

<!DOCTYPE html>

<% if(lang === "ja") { %>
  <html lang="ja">
<% } else { %>
  <html lang="en">
<% } %>

  <head>
    <% include ../partials/head_common %>
    <script src="/scripts/loginForms.js"></script>
  </head>

  <body>

    <div class="jumbotron elf-starry-sky">
      <div>
        <% include ../partials/navbar %>
      </div>
      <div class="text-center container">
        <h2>
          <%= trans.raw.login %>
        </h2>
      </div>
    </div>

    <div class="container text-center">
      <form method="post">
        <div class="form-group form-row" id="username_group">
          <label class="col-form-label col-sm-2" for="username">
            <%= trans.raw.username %>
          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="username" placeholder="<%= trans.login.placeholder1 %>" required>
          </div>
        </div>
        
        <div class="form-group form-row" id="pwd_group">
          <label class="col-form-label col-sm-2" for="pwd"><%= trans.raw.password %></label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="password" placeholder="<%= trans.login.placeholder2 %>" required>
          </div>
        </div>
        
        <button type="submit" class="btn btn-dark" onclick="return validateLogin();">
          <%= trans.login.submit %>
        </button>

        <div class="alert alert-info" style="<%= failMsg ? '' : 'display: none;' %> color: darkblue; width: 50%; margin: 30px auto 0;">
          <strong><%= trans.login.info %></strong> <span class="fail-msg"><%= failMsg %></span>
        </div>
      </form>
    </div>

    <div>
      <% include ../partials/footer %>
    </div>
  </body>
</html>
