<!--
Log-in page

Options:
  failMsg: if this object exists, displays it as a failure message telling the user that login failed.
-->

<!DOCTYPE html>

<% if(lang === "ja") { %>
  <html lang="ja">
<% } else { %>
  <html lang="en">
<% } %>

  <head>
    <% include ../partials/head_common %>
  </head>

  <body>

    <div class="jumbotron elf-starry-sky">
      <div>
        <% include ../partials/navbar %>
      </div>
      <div class="text-center container">
        <h2>
          <% if(lang === "ja") { %>
            ログイン
          <% } else { %>
            Log in
          <% } %>
        </h2>
      </div>
    </div>

    <div class="container text-center">
      <form method="post">
        <div class="form-group form-row" id="username_group">
          <label class="col-form-label col-sm-2" for="username">
            <%= lang === "ja" ? "ユーザー名：" : "Username:" %>
          </label>
          <div class="col-sm-10">
            <% if(lang === "ja") { %>
              <input type="text" class="form-control" id="username" name="username" placeholder="ユーザー名を入力" required>
            <% } else { %>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
            <% } %>
          </div>
        </div>
        
        <% if(lang === "ja") { %>
          <div class="form-group form-row" id="pwd_group">
            <label class="col-form-label col-sm-2" for="pwd">パスワード：</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="pwd" name="password" placeholder="パスワードを入力" required>
            </div>
          </div>
        <% } else { %>
          <div class="form-group form-row" id="pwd_group">
            <label class="col-form-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter your password" required>
            </div>
          </div>
        <% } %>
        
        <button type="submit" class="btn btn-dark" onclick="return validateForm();">
            <%= lang === "ja" ? "ログイン" : "Submit" %>
        </button>

        <div class="col-sm-12" id="failure_box" style="<%= failMsg ? '' : 'display: none;' %>">
          <div class="alert alert-info" style="color: darkblue; width: 50%; margin: 30px auto 0;">
            <strong><%= lang === "ja" ? " 報告：" : "Info:" %></strong> <span id="failure_msg"><%= failMsg %></span>
          </div>
        </div>
      </form>
    </div>

    <div>
      <% include ../partials/footer %>
    </div>

    <script>
      function setFailMessage(str){
        failure_msg = document.getElementById("failure_msg").innerHTML = str;
        failure_box = document.getElementById("failure_box").style = "display: ;";
      }

      // Trim whitespace
      function trimws(str){
        return str.replace(/^ */g, '').replace(/ *$/g, '');
      }

      function setError(elementId){
        // First clear all errors
        var all = document.getElementsByClassName("form-group");
        for(var i = 0; i < all.length; i++)
          all[i].classList.remove("has-error");

        // Then add error
        document.getElementById(elementId).classList.add("has-error");
      }
      
      function validateForm(){
        var username = document.getElementById("username").value;
        var pwd = document.getElementById("pwd").value;

        // For username, we ensure it doesn't have t/l whitespace and has 1-128 characters
        if(trimws(username).length !== username.length){
          setFailMessage("Username cannot contain trailing/leading whitespaces.");
          setError("username_group");
          return false;
        } 
        if(username.length <= 0 || username.length > 128){
          setFailMessage("Username must have at least 1 and at most 128 characters.");
          setError("username_group");
          return false;
        }

        // For pwd, we ensure it doesn't have t/l whitespace and has 1-128 characters too
        if(trimws(pwd).length !== pwd.length){
          setFailMessage("Password cannot contain trailing/leading whitespaces.");
          setError("pwd_group");
          return false;
        } 
        if(pwd.length <= 0 || pwd.length > 128){
          setFailMessage("Password must have at least 1 and at most 128 characters.");
          setError("pwd_group");
          return false;
        }
      }

      window.onload = function(){
        document.getElementById("username").focus();
      }
    </script>
  </body>
</html>
