<%
  if(lang == "ja"){
    var fig1_alt = "Runescapeで「Varrock」という都市の画像。";
    var fig1_caption = "Runescapeのなかで主要都市である「Varrock」（クリックで広がります）。";
    var fig2_alt = "Runescapeで「Prifddinas」という都市の画像。";
    var fig2_caption = "また他の主要都市である「Prifddinas」（クリックで広がります）";
    var fig3_alt = "昔に書いたPascalプログラムの一部の画像。";
    var fig3_caption = "昔に書いたPascalプログラムの一部です。　いい見覚えのために全てを保存しています。";
  } else {
    var fig1_alt = "Image showing Varrock, a city of Runescape.";
    var fig1_caption = "Varrock, one of the main cities of Runescape (click to expand).";
    var fig2_alt = "Image showing Prifddinas, a city of Runescape.";
    var fig2_caption = "Another main city, Prifddinas (click to expand).";
    var fig3_alt = "Image showing a snippet of Pascal code I wrote.";
    var fig3_caption = "Snippet of Pascal code of a bot I once made. I keep all of them for good remembrance.";
  }
%>

<div class="text-left container" style="font-size: 1.1rem;">
  <p>
    <%- trans.home.progcradle.par1 %>
  </p>
  <div class="row">
    <div class="col-sm-6 text-center">
      <figure class="figure">
        <a href="/images/index/progcradle/varrock_palace.png" target="_blank">
          <img src="/images/index/progcradle/varrock_palace_small.png" class="figure-img img-fluid rounded" alt="<%= fig1_alt %>">
        </a>
        <figcaption class="figure-caption"><%= fig1_caption %></figcaption>
      </figure>
    </div>
    <div class="col-sm-6 text-center">
        <figure class="figure">
          <a href="/images/index/progcradle/prifddinas_ithell.png" target="_blank">
            <img src="/images/index/progcradle/prifddinas_ithell_small.png" class="figure-img img-fluid rounded" alt="<%= fig2_alt %>">
          </a>
          <figcaption class="figure-caption"><%= fig2_caption %></figcaption>
        </figure>
      </div>
  </div>

  <%- trans.home.progcradle.par2 %>

  <div class="text-center">
    <figure class="figure">
      <img src="/images/index/progcradle/simba_pascal_snippet.png" class="figure-img img-fluid rounded" alt="<%= fig3_alt %>">
      <figcaption class="figure-caption"><%= fig3_caption %></figcaption>
    </figure>
  </div>
  <p>
    Then, through programming, I paved my way to being among the top 2000 players in amount of experience, and managed to achieve the <strong>completionist cape</strong>, which shows you've completed all the main activities of the game.
    There is a trimmed version of such a cape, but university forced me to stop playing before I could get it.
    It was an amazing experience, and I had plenty of fun; no matter how against the rules it was, I cannot say anything but "it was absolutely worth it".
  </p>
</div>