<div class="text-left container" style="font-size: 1.1rem;">
  <%- trans.home.whyelf.par1 %>
  <%- trans.home.whyelf.par2 %>
  <%- trans.home.whyelf.par3 %>
  <%- trans.home.whyelf.par4 %>
  <%- trans.home.whyelf.par5 %>
  <%- trans.home.whyelf.par6 %>
</div>